/.project
/software/tools/WorldModels/tue_utils/bin
/software/tools/WorldModels/tue_utils/build
/software/tools/WorldModels/tue_utils/Debug
/software/tools/WorldModels/tue_utils/RemoteSystemsTempFiles

/software/tools/WorldModels/wire/armadillo_matrix/build
/software/tools/WorldModels/wire/armadillo_matrix/lib

/software/tools/WorldModels/wire/problib/bin
/software/tools/WorldModels/wire/problib/build
/software/tools/WorldModels/wire/problib/lib
/software/tools/WorldModels/wire/problib/msg_gen

/software/tools/WorldModels/wire/wire_core/bin
/software/tools/WorldModels/wire/wire_core/build
/software/tools/WorldModels/wire/wire_core/lib

/software/tools/WorldModels/wire/wire_msgs/build
/software/tools/WorldModels/wire/wire_msgs/msg_gen
/software/tools/WorldModels/wire/wire_msgs/src

/software/tools/WorldModels/wire/wire_state_estimators/build
/software/tools/WorldModels/wire/wire_state_estimators/lib

/software/tools/WorldModels/wire/wire_tutorials/bin
/software/tools/WorldModels/wire/wire_tutorials/build

/software/tools/WorldModels/wire/wire_viz/bin
/software/tools/WorldModels/wire/wire_viz/build



