/ROPOD_notation.acn
/ROPOD_notation.acr
/ROPOD_notation.alg
/ROPOD_notation.aux
/ROPOD_notation.bbl
/ROPOD_notation.blg
/ROPOD_notation.glg
/ROPOD_notation.glo
/ROPOD_notation.gls
/ROPOD_notation.ist
/ROPOD_notation.log
/ROPOD_notation.nlo
/ROPOD_notation.synctex.gz
